/* Variables */
:root {
  --star: #ffa800;
  --dark: #454545;
  --primary: #f05454;
  --primaryGradient: linear-gradient(76.2deg, #f95e5e 19.72%, #af2e2e 104.5%);
  --white: #ffffff;
}

/* Attributes */
.container {
  margin: 0 2rem;
}

.flex--center--gap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.color--primary {
  color: var(--primary);
}

.full--height {
  height: 100vh;
}

/* Class */
.header__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header__right {
  justify-content: flex-start;
}
.header__left {
  justify-content: flex-end;
}
.header__title {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}

.footer__container {
  background-color: var(--dark);
}

.footer__grid {
  display: grid;
  padding-top: 1rem;
}

.footer__copyright {
  text-align: center;
  padding: 1rem 0;
}
